target/test-classes/munit-mule-jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8001" doc:name="HTTP Listener Configuration"/>
    <flow name="munit-yeahFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/decision" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.decisionKey]" doc:name="Set Payload"/>
        <flow-ref name="decisionFlow" doc:name="decisionFlow"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.decisionVariable.equals('decision1')]">
                <set-payload value="Decision 1 was taken" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-payload value="Decision 2 was taken" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="decisionFlow">
        <choice doc:name="Choice">
            <when expression="#[payload.equals('value1')]">
                <flow-ref name="decision1SubFlow" doc:name="decision1SubFlow"/>	
            </when>
            <otherwise>
                <flow-ref name="decision2SubFlow" doc:name="decision2SubFlow"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="decision1SubFlow">
        <set-variable variableName="decisionVariable" value="#['decision1']" doc:name="Decision Variable 1"/>
    </sub-flow>
    <sub-flow name="decision2SubFlow">
        <set-variable variableName="decisionVariable" value="#['decision2']" doc:name="Decision Variable 2"/>
    </sub-flow>
</mule>
